.banner_wrap {
	padding-top: 5px;
	background: #00AFA9;
	width: 100%;
	box-shadow: inset 0 -4px 1px rgba(0,0,0,.1)
}
.banner_wrap .col-sm-12 {
	margin-top: 20px;
}
.banner img {
	width: 100%;
	height: auto;
	margin-top: 10px;
}
.banner_info h1 {
	font-weight: bold;
	margin: 0;
	color: #7EFEFF;
}
.banner_info p {
	margin-top: 35px;
	font-size: 18px;
	color: #00DCD4;
	line-height: 30px;
}
.info_blocks_wrap {
	padding-bottom: 65px;
}
.info_blocks {
	margin-top: 65px;
}
.info_blocks .block .col-md-3,
.info_blocks .block .col-md-9 {
 	padding: 0;
}
.info_blocks .block {
	margin-top: 20px;
}
.info_blocks .block h2 {
	font-size: 20px;
	padding-left: 5px;
	color: #3A8273;
	margin: 0;
}
.info_blocks .block p {
	padding-left: 5px;
	color: #B5A8AC;
	margin-top: 15px;
	line-height: 20px;
}
.kin_wrap {
	padding-top: 60px;
	padding-bottom: 50px;
	background: #F7F7F7;
}
.kin_wrap h1 {
	font-weight: bold;
	margin: 0;
	color: #008B84;
}
.kin_wrap p {
	margin-top: 35px;
	font-size: 18px;
	color: #B5A8AC;
	line-height: 30px;
}
.kin_wrap .kin_img img{
	width: 100%;
	height: auto;
}
.info_blocks_wrap .fa {
	font-size: 72px;
	color: #459E96 !important;
}