
body {
    font-family: ;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0;
}
p, a, ul, li, body input, body label {
    margin: 0;
    padding: 0;
}
.container {
}

/* Header
------------------------------------------------------------------------------------ */
ol.carousel-indicators li {
    border: none !important;
    background: #96bad7;
}
ol.carousel-indicators li.active {
    background-color: #57a3db;
}
.carousel-control {
    color: #06639e !important;
}

/* Content
------------------------------------------------------------------------------------ */
.info {
    margin-top: 100px;
    margin-bottom: 200px;
    text-align: center;
}
.info h1 {
    margin-bottom: 30px;
    color: #1268a7;
}
.info p {
    margin-top: 10px;
    font-size: 12px;
    color: #7a7a7a;
}
.info p a {
    color: #2680c2;
    font-weight: bold;
}

/* Content
------------------------------------------------------------------------------------ */
.footer {
    min-height: 305px;
    background: url(../img/footer_bg.jpg) repeat-x, #008ac3;
    position: relative;
}
.footer:after {
    content: '';
    background: url(../img/footer_after.jpg) repeat-x;
    height: 31px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.footer_content {
    margin-top: -180px;
    text-align: center;
}
.footer_content .col-md-5 {
    padding: 0;
}
.footer_content img {
    display: inline-block;
}
.footer_content .thumbnail {
    padding: 0;
    border: 3px solid #4294cb;
    max-width: 100%;
    height: auto;
}
.footer_content {
    color: white;
}
.footer_content  h3 {
    margin: 30px 0;
    line-height: 10px;
}
.footer_content i {
    font-size: 60px;
    line-height: 10px;
}






