.iphone_img img {
	width: 100%;
	height: auto;
}
.learn_more h1 {
	color: #B3B3B3;
}
.learn_more {
	padding-top: 80px;
}
.learn_more_block {
	margin-top: 45px;
}
.learn_more_block h3 {
	color: #7D7D7D;
	margin: 0;
	font-size: 18px;
}
.learn_more_block .fa {
	margin-top: 5px;
}
.learn_more_block .col-md-10 p {
	margin-top: 10px;
	color: #B0B0B0;
	line-height: 24px;
}
.apple_wrap p {
	margin-top: 20px;
	color: #B0B0B0;
	line-height: 24px;
}
.apple_wrap .learn_more_block p {
	margin-top: 15px;
}
.apple_img img {
	width: 100%;
	height: auto;
}
.apple_info h1 {
	color: #6B6B6B;
}
.apple_info .btn_get {
	border: none;
	padding: 8px 15px;
	color: white;
	background: #4480CD;
	font-weight: bold;
	margin-right: 25px;
	margin-top: 25px;
}
.apple_info .btn_open {
	font-weight: bold;
	border: 1px solid #B0B0B0;
	padding: 7px 15px;
	color: #4480CD;
	background: white;
}
